################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SOAPe/v15/Server/sqlite3/db.lock
/.vs/SOAPe
/.vs/config
/SOAPe/bin
/SOAPe/obj
/.vs
